In [27]:
import pandas as pd

file1 = "2014-2020-trip-feature-v3.csv"
file2 = "2014-2020-node-feature-3-583-appendix.csv"
file3 = "2014-2020-way-feature-3-430-appendix.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)

cols = ["ZoneNumber", "Year", "Month"]
df2[cols] = df2[cols].astype(int)
df3[cols] = df3[cols].astype(int)

print(len(df1), len(df1.columns))
print(len(df2), len(df2.columns))
print(len(df3), len(df3.columns))

30362 12
22092 586
22091 433

In [28]:
df1

,ZoneNumber,Year,Month,Weekday,PUAM,PUPM,PUMD,PUEV,DOAM,DOPM,DOMD,DOEV
0,171,2017,3,0,1.500000,1.500000,2.125000,3.500000,7.125000,18.375000,20.750000,56.000000
1,218,2017,6,0,0.625000,0.625000,2.625000,1.625000,5.375000,14.250000,11.625000,37.250000
2,152,2017,6,1,133.227273,133.363636,177.363636,151.090909,153.500000,194.772727,210.500000,332.363636
3,175,2017,9,0,1.000000,0.400000,0.800000,0.600000,2.555556,6.000000,6.555556,13.888889
4,244,2017,5,0,160.875000,198.125000,324.625000,355.250000,175.000000,286.125000,347.750000,982.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
30357,191,2016,6,0,1.125000,1.250000,1.125000,2.625000,6.000000,14.000000,14.375000,39.000000
30358,122,2016,6,0,0.500000,1.500000,0.875000,0.500000,2.750000,6.250000,5.625000,17.125000
30359,173,2016,6,1,25.318182,42.409091,42.272727,72.090909,25.681818,84.681818,79.318182,208.863636
30360,171,2016,6,1,0.863636,2.000000,2.090909,2.318182,7.409091,22.590909,20.363636,47.000000
30361,212,2016,6,0,5.875000,12.000000,12.000000,30.625000,7.625000,17.000000,16.250000,77.125000

In [29]:
# Drop year 2020

df1 = df1[df1["Year"]!=2020]
#df1 = df1[~df1["ZoneNumber"].isin([56,57,103,104,105])]
df1

,ZoneNumber,Year,Month,Weekday,PUAM,PUPM,PUMD,PUEV,DOAM,DOPM,DOMD,DOEV
0,171,2017,3,0,1.500000,1.500000,2.125000,3.500000,7.125000,18.375000,20.750000,56.000000
1,218,2017,6,0,0.625000,0.625000,2.625000,1.625000,5.375000,14.250000,11.625000,37.250000
2,152,2017,6,1,133.227273,133.363636,177.363636,151.090909,153.500000,194.772727,210.500000,332.363636
3,175,2017,9,0,1.000000,0.400000,0.800000,0.600000,2.555556,6.000000,6.555556,13.888889
4,244,2017,5,0,160.875000,198.125000,324.625000,355.250000,175.000000,286.125000,347.750000,982.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
30357,191,2016,6,0,1.125000,1.250000,1.125000,2.625000,6.000000,14.000000,14.375000,39.000000
30358,122,2016,6,0,0.500000,1.500000,0.875000,0.500000,2.750000,6.250000,5.625000,17.125000
30359,173,2016,6,1,25.318182,42.409091,42.272727,72.090909,25.681818,84.681818,79.318182,208.863636
30360,171,2016,6,1,0.863636,2.000000,2.090909,2.318182,7.409091,22.590909,20.363636,47.000000
30361,212,2016,6,0,5.875000,12.000000,12.000000,30.625000,7.625000,17.000000,16.250000,77.125000

In [30]:
# Fix N/A cells
df1[(df1["DOAM"].isna()) | (df1["DOPM"].isna()) | (df1["DOMD"].isna()) | (df1["DOEV"].isna())]

,ZoneNumber,Year,Month,Weekday,PUAM,PUPM,PUMD,PUEV,DOAM,DOPM,DOMD,DOEV
191,199,2015,8,1,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
376,244,2019,3,1,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
396,229,2019,2,1,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
417,199,2018,1,1,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
438,114,2019,5,0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28873,110,2016,8,0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
30064,167,2019,3,1,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
30175,114,2019,6,1,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
30278,2,2016,6,1,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
30308,105,2016,6,1,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN

In [31]:
df1 = df1.fillna(0)
df1[(df1["DOAM"].isna()) | (df1["DOPM"].isna()) | (df1["DOMD"].isna()) | (df1["DOEV"].isna())]

Empty DataFrame
Columns: [ZoneNumber, Year, Month, Weekday, PUAM, PUPM, PUMD, PUEV, DOAM, DOPM, DOMD, DOEV]
Index: []

In [32]:
# Normalize Trips
df1.iloc[:,4:12] = df1.iloc[:,4:12].apply(lambda x: (x-x.min())/(x.max()-x.min()), axis=0)
df1

,ZoneNumber,Year,Month,Weekday,PUAM,PUPM,PUMD,PUEV,DOAM,DOPM,DOMD,DOEV
0,171,2017,3,0,0.000369,0.000298,0.000307,0.000354,0.000907,0.003999,0.002704,0.008586
1,218,2017,6,0,0.000154,0.000124,0.000379,0.000164,0.000684,0.003101,0.001515,0.005711
2,152,2017,6,1,0.032758,0.026498,0.025634,0.015264,0.019531,0.042388,0.027432,0.050957
3,175,2017,9,0,0.000246,0.000079,0.000116,0.000061,0.000325,0.001306,0.000854,0.002129
4,244,2017,5,0,0.039557,0.039366,0.046918,0.035888,0.022266,0.062269,0.045318,0.150597
...,...,...,...,...,...,...,...,...,...,...,...,...
30357,191,2016,6,0,0.000277,0.000248,0.000163,0.000265,0.000763,0.003047,0.001873,0.005979
30358,122,2016,6,0,0.000123,0.000298,0.000126,0.000051,0.000350,0.001360,0.000733,0.002626
30359,173,2016,6,1,0.006225,0.008426,0.006110,0.007283,0.003268,0.018429,0.010336,0.032023
30360,171,2016,6,1,0.000212,0.000397,0.000302,0.000234,0.000943,0.004916,0.002654,0.007206
30361,212,2016,6,0,0.001445,0.002384,0.001734,0.003094,0.000970,0.003700,0.002118,0.011825

In [33]:
# Normalize Node and Way
df2.iloc[:,3:] = df2.iloc[:,3:].apply(lambda x: (x-x.min())/(x.max()-x.min()), axis=0)
df2 = df2.dropna(axis='columns')
df2

,ZoneNumber,Year,Month,accountant,beauty,place_of_worship,fuel,restaurant,platform,car_repair,...,piano_tuner,tinsmith,self_storage,auction,textile_printing,printer_ink,web_design,betting,art_centre,binoculars
0,218,2018,7,0.142857,0.016949,0.027027,0.181818,0.006061,0.204082,0.076923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,218,2018,9,0.142857,0.033898,0.054054,0.181818,0.018182,0.238095,0.153846,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,218,2018,8,0.142857,0.016949,0.027027,0.181818,0.006061,0.238095,0.076923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,218,2018,6,0.142857,0.016949,0.027027,0.181818,0.006061,0.095238,0.076923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,218,2018,5,0.142857,0.016949,0.027027,0.181818,0.006061,0.095238,0.076923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22087,105,2020,8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22088,105,2019,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22089,105,2020,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22090,105,2020,9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22091,105,2020,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
df3.iloc[:,3:] = df3.iloc[:,3:].apply(lambda x:  (x-x.min())/(x.max()-x.min()), axis=0)
df3 = df3.dropna(axis='columns')
df3

,ZoneNumber,Year,Month,parking,residential,school,fuel,pitch,railway,park,...,fishmonger,basilica,music_venue,crematorium,photographic_laboratory,travel_agency,slipway,administrative,collector,waste_transfer_station
0,218,2018,7,0.047059,0.01087,0.206897,0.125,0.0625,0.153846,0.053333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,218,2018,9,0.047059,0.01087,0.206897,0.125,0.0625,0.153846,0.053333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,218,2018,8,0.047059,0.01087,0.206897,0.125,0.0625,0.153846,0.053333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,218,2018,6,0.047059,0.01087,0.206897,0.125,0.0375,0.153846,0.053333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,218,2018,5,0.047059,0.01087,0.206897,0.125,0.0375,0.153846,0.053333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22086,105,2020,8,0.000000,0.00000,0.034483,0.000,0.0625,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22087,105,2019,7,0.000000,0.00000,0.034483,0.000,0.0625,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22088,105,2020,7,0.000000,0.00000,0.034483,0.000,0.0625,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22089,105,2020,9,0.000000,0.00000,0.034483,0.000,0.0625,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22090,105,2020,11,0.000000,0.00000,0.034483,0.000,0.0625,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df = pd.merge(df1, df2, how = "inner", on = ["ZoneNumber", "Year", "Month"])

In [36]:
df = pd.merge(df, df3, how = "inner", on = ["ZoneNumber", "Year", "Month"])
df

,ZoneNumber,Year,Month,Weekday,PUAM,PUPM,PUMD,PUEV,DOAM,DOPM,...,fishmonger_y,basilica,music_venue_y,crematorium,photographic_laboratory_y,travel_agency_y,slipway_y,administrative_y,collector_y,waste_transfer_station_y
0,171,2017,3,0,0.000369,0.000298,0.000307,0.000354,0.000907,0.003999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,171,2017,3,1,0.000246,0.000268,0.000220,0.000184,0.000929,0.004513,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,218,2017,6,0,0.000154,0.000124,0.000379,0.000164,0.000684,0.003101,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,218,2017,6,1,0.000201,0.000163,0.000191,0.000161,0.000648,0.003215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,152,2017,6,1,0.032758,0.026498,0.025634,0.015264,0.019531,0.042388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26007,241,2016,6,1,0.003610,0.002023,0.002398,0.000996,0.002175,0.004857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26008,118,2016,6,0,0.000000,0.000000,0.000289,0.000000,0.000064,0.000326,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26009,118,2016,6,1,0.000025,0.000079,0.000173,0.000051,0.000087,0.000297,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26010,258,2016,6,0,0.000830,0.000820,0.000578,0.001452,0.001415,0.008896,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26011,258,2016,6,1,0.000950,0.001075,0.000657,0.000556,0.001018,0.007073,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df.to_csv("final-normalized.csv", index = False, mode = "w")

In [12]:
# Check duplicates in df2 and df3

In [13]:
dftest = df2.groupby(by = ["ZoneNumber", "Year", "Month"]).count()
dftest[dftest["accountant"]>1]

Empty DataFrame
Columns: [accountant, beauty, place_of_worship, fuel, restaurant, platform, car_repair, post_box, deli, supermarket, bank, police, bicycle_parking, laundry, pharmacy, hotel, playground, stop_position, dry_cleaning, park, fast_food, association, lawyer, it, drinking_water, convenience, estate_agent, waste_basket, tax_advisor, hairdresser, vending_machine, fitness_centre, school, post_office, fire_station, car_rental, gift, electronics, bicycle, bag, copyshop, ice_cream, theatre, tea, bar, music, greengrocer, cinema, atm, pitch, community_centre, dance, pet, hardware, alcohol, jewelry, wifi, bakery, sports_centre, boutique, chalet, bicycle_rental, toilets, tattoo, cafe, books, museum, doctors, spices, shelter, university, confectionery, car_sharing, retail, cosmetics, general, caterer, computer, government, mobile_phone, station, sauna, company, musical_instrument, memorial, hospital, herbalist, nutrition_supplements, toys, shoes, optician, clothes, religion, attraction, dog_park, childcare, clinic, pub, butcher, dancing_school, ...]
Index: []

[0 rows x 583 columns]

In [14]:
dftest3 = df3.groupby(by = ["ZoneNumber", "Year", "Month"]).count()
dftest[dftest["parking"]>1]

Empty DataFrame
Columns: [accountant, beauty, place_of_worship, fuel, restaurant, platform, car_repair, post_box, deli, supermarket, bank, police, bicycle_parking, laundry, pharmacy, hotel, playground, stop_position, dry_cleaning, park, fast_food, association, lawyer, it, drinking_water, convenience, estate_agent, waste_basket, tax_advisor, hairdresser, vending_machine, fitness_centre, school, post_office, fire_station, car_rental, gift, electronics, bicycle, bag, copyshop, ice_cream, theatre, tea, bar, music, greengrocer, cinema, atm, pitch, community_centre, dance, pet, hardware, alcohol, jewelry, wifi, bakery, sports_centre, boutique, chalet, bicycle_rental, toilets, tattoo, cafe, books, museum, doctors, spices, shelter, university, confectionery, car_sharing, retail, cosmetics, general, caterer, computer, government, mobile_phone, station, sauna, company, musical_instrument, memorial, hospital, herbalist, nutrition_supplements, toys, shoes, optician, clothes, religion, attraction, dog_park, childcare, clinic, pub, butcher, dancing_school, ...]
Index: []

[0 rows x 583 columns]